/** @format */
a {
	text-decoration: none;
}
html {
	font-size: 62.5%;
}
body {
	background-color: #8ec5fc;
	background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#form {
	width: 250px;
	margin: 20vh auto 0 auto;
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 12px;
	gap: 1.5rem;
	box-shadow: 5px 10px rgba(152, 172, 242, 0.79);
}

#form h2 {
	color: #0f2027;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	font-family: sans-serif;
}

.bt2 {
	background-color: #1b77fb;
	width: 220px;
	border-radius: 25px;
	padding: 10px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border: 1px solid #1b77fb;
}
.bt2:hover {
	background-color: #3485f9;
	transform: scale(1.2);
}
.input-control {
	display: flex;
	flex-direction: column;
}
.form-label {
	padding-bottom: 10px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.input-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 7px;
	width: 200px;
}

.input-control input:focus {
	outline: 0;
}

.input-control.error input {
	border-color: #ff3860;
}

.input-control.success input {
	border-color: #09c372;
}

.input-control .error {
	color: #ff3860;
	font-size: 12px;
	height: 13px;
}

.container1 {
	display: flex;
	align-items: center;
	gap: 3px;
}
