body{ 
  background: #141010;
  background-attachment: fixed;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DynaPuff', cursive;
    color: white;
  
}


.containermain{
    background-color:black; 
    
    display: grid;
    align-items: center;
    justify-content: center;
    width: 450px;
    grid-template-columns: repeat(3, 2fr);
    column-gap:1em;
    row-gap: 1em;
    box-shadow: 5px 5px black;
    margin: 4em auto;
    
  }
  
  .container{
    background:darkgreen;
    width: 100px;
    height: 100px;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 5px 10px rgb(195, 25, 93,0.7);
    padding: 15px;
    color:white;
    
    
  }
   

.container:hover{

    transform: scale(1.4);
}
  .btn1{
    width:300px;
    height:50px;
    border-radius:20px;
    margin-top:1em;
    font-family: 'DynaPuff', cursive;
    background-color: #c3195d;
    border-color: #680747;
   
  }
  
  .btn{
    display:flex;
    justify-content:center;
    align-items:center;
  }
    

  @media all and (max-width:600px){
    .containermain{
        background-color:black;
        display: grid;
        width: 300px;
        grid-template-columns: repeat(2, 1fr);
        column-gap:20px;
        row-gap: 1em;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 10px black;
        margin: auto;
      }

  }


    
    
  
  
  